<style type="text/css">
	table.tableizer-table {
		font-size: 12px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.tableizer-table th {
		background-color: #104E8B; 
		color: #FFF;
		font-weight: bold;
	}
</style>
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>Week</th><th>Date</th><th>Time (GMT+3)</th><th>Module</th><th>Topics</th><th>Classwork</th><th>Homework</th></tr></thead><tbody>
 <tr><td>1</td><td>Tue - Oct, 20        </td><td>12:30 - 2:30</td><td>M1 Basics of remote sensing</td><td>Introduction, Remote sensing for Earth observation, Remote Sensing Workflow, Electromagnetic Energy, Viewing Parameters, Sensor Parameters, Spatial Resolution, Spectral Resolution, Radiometric resolution, Temporal Resolution, Imaging Sensors, Create Google and Earth Engine accounts</td><td>How to check the details of the satellite?</td><td>Solving country-specific problems with Satellite Images</td></tr>
 <tr><td>2</td><td>Tue - Oct, 27        </td><td>12:30 - 2:30</td><td>M2 Data Acquisition and storage</td><td>Platforms and missions, Types of Multispectral Imaging Sensor Systems, Satellite Characteristics, Aerial Photography, Satellite Imagery (Cameras, Scanners), Active sensors, Passive sensors, Various examples of sensors and applications</td><td>data acquisition form web data portal</td><td>check the details of  sentinel-1 and landsat 8 satellites?</td></tr>
 <tr><td>3</td><td>Tue - Nov, 03        </td><td>12:30 - 2:30</td><td>M3 Image principles</td><td>"Properties of digital image, Data formats Types of Digital Images, Tri-stimuli model</td></tr>
 <tr><td>Color spaces, Image display (FCC,</td></tr>
 <tr><td>Origins and nature of digital image), components of image processing system, Visual perception, Basics of pixels, bands, and sampling"</td><td>satellite color composite</td><td>sentinel 1 and landsat 8 data download from web data portal</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>12:30 - 2:30</td><td>M4 Introduction to Python and Setting Up the Environment</td><td>Introduction to python programming languge in general and python in geospatial in particular         Conda, Colab Notebooks, geemap, other Python tools for satellite data acquisition and data storage</td><td>data acquisition using python</td><td>satellite color composite</td></tr>
 <tr><td>4</td><td>Tue - Nov, 10        </td><td>12:30 - 2:30</td><td>M5 Intro to Earth Engine platform</td><td>"Big Data Platforms for Remote Sensing,</td></tr>
 <tr><td>Earth Engine Platform, EE Primitives,</td></tr>
 <tr><td>Earth Engine API"</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>5</td><td>Tue - Nov, 17        </td><td>12:30 - 2:30</td><td>M6 Image Interpretation.</td><td>Quantitative Analysis of ERS data, Types of Pictoral Data Products, Image interpretation strategy: Levels of Interpretation Keys. Process of Image Interpretation, Interpretation of Aerial Photo, General procedure for photo interpretation</td><td>Forest fire interpretation</td><td>&nbsp;</td></tr>
 <tr><td>6</td><td>Tue - Nov, 24        </td><td>12:30 - 2:30</td><td>M7 Image enhancement</td><td>Gery level transform, histogram processing, arithmetic/logic operations, spatial filtering   Exploratory Image analysis Using Python</td><td>"Mapping flooding with histogram slicing</td></tr>
 <tr><td>&nbsp;</td></tr>
 <tr><td>Idea 2</td></tr>
 <tr><td>&nbsp;</td></tr>
 <tr><td>Idea 3"</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>12:30 - 2:30</td><td>M8 Image corrections (preprocessing)</td><td>Image corrections through geometric / radiometric transforms</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>7</td><td>Tue - Dec, 01        </td><td>12:30 - 2:30</td><td>M9 Image Transformations</td><td>Transformationss in frequency domain, Fourier transform, frequency domain filters and its applications, periodic noise removal, Principle component analysis. Python tools for image transformation</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>8</td><td>Tue - Dec, 08        </td><td>12:30 - 2:30</td><td>M10 Spectral indices</td><td>Vegetation indices, Soil Indices, Water indices</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>9</td><td>Tue - Dec, 15        </td><td>12:30 - 2:30</td><td>M11 Unsupervised Classification</td><td>K- Mean Clustering, ISODATA clustering, Hierarchical Clustering</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>12:30 - 2:30</td><td>M12 Supervised Classification</td><td>Minimum Distance to Mean, Maximum Likelihood, Hypercube, Mahanolobis distance</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>10</td><td>Tue - Dec, 22        </td><td>12:30 - 2:30</td><td>M13 Soft Classification Techniques</td><td>Hybrid classification, Knowledge Engineer, Fuzzy Classification, Object Oriented Classification</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>12:30 - 2:30</td><td>M14 Exploratory Data Analysis</td><td>Classification and segmentation using Python</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>12:30 - 2:30</td><td>M15 Validation of Image Classification</td><td>Kappa Accuracy, Overall Accuracy, Regression</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>11</td><td>Tue - Dec, 29        </td><td>12:30 - 2:30</td><td>Exam</td><td>&nbsp;</td><td>&nbsp;</td><td></td></tr>
</tbody></table>