<p>
  <b>Training Goal</b>

    Introduce you to fundamental concepts of Earth remote sensing science and Python as a tool for the image analysis, including Big Data workflows </p>
<p>
    <b>Practical Outcomes:</b>
    During this highly-practical course you'll get your hands on:
</p>
<p>
 ​ Data from the <b>NASA</b>’s and <b>ESA Earth observation Programmes</b> (satellites: Landsat-8, Sentinel-1, 2 and 5P)
</p>
<p>
 <b>​ Python</b> — a high-level general-purpose programing language widely used in ERS and other geospatial domains
</p>
<p>
 <b>​ Google Earth Engine</b> — a cloud-based platform for big geodata processing and analysis, on top of which you will build your custom web application
</p>
<p align="center">
    

  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
