{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://engr-rudn.github.io/pyee01Notes/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://engr-rudn.github.io/pyee01Notes/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr>
        <td>Afternoon</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://engr-rudn.github.io/pyee01Notes/R-ecology-lesson/">Introduction to R</a>
          {% elsif site.flavor == "python" %}
          <a href="https://engr-rudn.github.io/pyee01Notes/python-ecology-lesson/">Introduction to Python</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
      </td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://engr-rudn.github.io/pyee01Notes/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a>
          {% elsif site.flavor == "python" %}
          <a href="https://engr-rudn.github.io/pyee01Notes/python-ecology-lesson/">Continuation of Python: Data analysis and Visualization</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
        </td>
      </tr>
      <tr> <td>Afternoon</td><td><a href="https://engr-rudn.github.io/pyee01Notes/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://engr-rudn.github.io/pyee01Notes/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://engr-rudn.github.io/pyee01Notes/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://engr-rudn.github.io/pyee01Notes/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://engr-rudn.github.io/pyee01Notes/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://engr-rudn.github.io/pyee01Notes/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://engr-rudn.github.io/pyee01Notes/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://engr-rudn.github.io/pyee01Notes/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://engr-rudn.github.io/pyee01Notes/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://engr-rudn.github.io/pyee01Notes/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://engr-rudn.github.io/pyee01Notes/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% elsif site.curriculum == "dc-geospatial" %}
<!--tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr -->
<div class="row" id="schedule" name="schedule">
  <!--div class="col-md-6"-->

    
    | Week | Date       | Time (GMT+5:30)     | Module                                         | Topics                                                                                                                                                                                                                                                                                             | Classwork/Homework | Course Materials |   |
    |------|------------|---------------------|------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------|------------------|---|
    | 1    | Tue-Oct,20 | 15:00 -   17:00 IST | M0 Meeting   Lecturers and Course Introduction | Training   Goal,About RUDN University and Lecturers,Course Structure- Part 1: Remote   Sensing,Part 2: Python for image analysis,Part 3: Earth Engine Python   API,Online Classroom Environment,Grading                                                                                            |                    | Link             |   |
    |      |            | 15:00 -   17:00 IST | M1 Basics   of remote sensing                  | Introduction,   Remote sensing for Earth observation, Remote Sensing Workflow,   Electromagnetic Energy, Viewing Parameters, Sensor Parameters, Spatial   Resolution, Spectral Resolution, Radiometric resolution, Temporal Resolution,   Imaging Sensors, Create Google and Earth Engine accounts |                    | Link             |   |
    | 2    | Tue-Oct,27 | 15:00 -   17:00 IST | M2 Data   Acquisition and Applications         | Platforms   and missions, Types of Multispectral Imaging Sensor Systems, Satellite   Characteristics, Aerial Photography, Satellite Imagery (Cameras, Scanners),   Active sensors, Passive sensors, Various examples of sensors and applications                                                   |                    | Link             |   |
    | 3    | Tue-Nov,03 | 15:00 -   17:00 IST | M3   Image principles                          | Properties   of digital image, Data formats Types of Digital Images, Tri-stimuli model   Color spaces, Image display (FCC,Origins and nature of digital image),   components of image processing system, Visual perception, Basics of pixels,   bands, and sampling"                               |                    | Link             |   |
    |      |            | 15:00 - 17:00 IST   | M4 Intro to Python                             | Introduction to python programming   language,Raster processing using Python Tools. Python computing   environments: Conda, Jupyter notebooks, Colab and other Python tools   for satellite data acquisition and data storage                                                                      |                    | Link             |   |
    |      |            |                     | --------------------- M4   Raster processing   |                                                                                                                                                                                                                                                                                                    |                    |                  |   |
    | 4    | Tue-Nov,10 | 15:00   - 17:00 IST | M5 Intro to   Earth Engine platform            | Big   Data Platforms for Remote Sensing,Earth Engine Platform, EE Primitives,Earth Engine API                                                                                                                                                                                                      |                    | Link             |   |
    | 5    | Tue-Nov,17 | 15:00 -   17:00 IST | M6 Image   Interpretation.                     | Quantitative   Analysis of ERS data, Types of Pictorial Data Products, Image interpretation   strategy: Levels of Interpretation Keys. Process of Image Interpretation,   Interpretation of Aerial Photo, General procedure for photo interpretation                                               |                    | Link             |   |
    | 6    | Tue-Nov,24 | 15:00 -   17:00 IST | M7 Image   enhancement                         | Gray   level transform, histogram processing, arithmetic/logic operations, spatial   filtering Exploratory Image analysis Using Python                                                                                                                                                             |                    |                  |   |
    |      |            | 15:00 -   17:00 IST | M8 Image   corrections (preprocessing)         | Image   corrections through geometric / radiometric transforms                                                                                                                                                                                                                                     |                    |                  |   |
    | 7    | Tue-Dec,01 | 15:00 -   17:00 IST | M9 Image   Transformations                     | Transformations   in frequency domain, Fourier transform, frequency domain filters and its   applications, periodic noise removal, Principle component analysis. Python   tools for image transformation                                                                                           |                    |                  |   |
    | 8    | Tue-Dec,08 | 15:00 -   17:00 IST | M10   Spectral indices                         | Vegetation   indices, Soil Indices, Water indices                                                                                                                                                                                                                                                  |                    | Link             |   |
    | 9    | Tue-Dec,15 | 15:00 -   17:00 IST | M11   Unsupervised Classification              | K-   Mean Clustering, ISODATA clustering, Hierarchical Clustering                                                                                                                                                                                                                                  |                    |                  |   |
    |      |            | 15:00 -   17:00 IST | M12   Supervised Classification                | Minimum   Distance to Mean, Maximum Likelihood, Hypercube, Mahanolobis distance                                                                                                                                                                                                                    |                    |                  |   |
    | 10   | Tue-Dec,22 | 15:00 -   17:00 IST | M13 Soft   Classification Techniques           | Hybrid   classification, Knowledge Engineer, Fuzzy Classification, Object Oriented   Classification                                                                                                                                                                                                |                    |                  |   |
    |      |            | 15:00 -   17:00 IST | M14   Exploratory Data Analysis                | Classification   and segmentation using Python                                                                                                                                                                                                                                                     |                    |                  |   |
    |      |            | 15:00 -   17:00 IST | M15   Validation of Image Classification       | Kappa   Accuracy, Overall Accuracy, Regression                                                                                                                                                                                                                                                     |                    |                  |   |


​      

  </div>
  <!--div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://engr-rudn.github.io/pyee01Notes/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://engr-rudn.github.io/pyee01Notes/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr> 
    </table>
  </div>
</div-->

{% else %}
{% include warning-curriculum.html %}
{% endif %}
