{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr>
        <td>Afternoon</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Introduction to Python</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
      </td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Continuation of Python: Data analysis and Visualization</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
        </td>
      </tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% elsif site.curriculum == "dc-geospatial" %}
<!--tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr -->
<div class="row">
  <div class="col-md-6">
    <h3>Course Contents</h3>
    <table class="table table-striped">
     <thead>
      <tr>
        <th>Week</th><th>Date</th><th>Time (GMT+3)</th><th>Module</th><th colspan="5">Topics</th><th>Classwork</th><th colspan="2">Homework</th></tr>
    </thead>
      
      <tbody>
 
      <tr><td>1</td><td>Tue - Oct, 20        </td><td>12:30 - 2:30</td><td>M1 Basics of remote sensing</td><td colspan="5">Introduction, Remote sensing for Earth observation, Remote Sensing Workflow, Electromagnetic Energy, Viewing Parameters, Sensor Parameters, Spatial Resolution, Spectral Resolution, Radiometric resolution, Temporal Resolution, Imaging Sensors, Create Google and Earth Engine accounts</td><td>How to check the details of the satellite?</td><td colspan="2">Solving country-specific problems with Satellite Images</td></tr>
 
      <tr><td>2</td><td>Tue - Oct, 27        </td><td>12:30 - 2:30</td><td>M2 Data Acquisition and storage</td><td colspan="5">Platforms and missions, Types of Multispectral Imaging Sensor Systems, Satellite Characteristics, Aerial Photography, Satellite Imagery (Cameras, Scanners), Active sensors, Passive sensors, Various examples of sensors and applications</td><td>data acquisition form web data portal</td><td colspan="2">check the details of  sentinel-1 and landsat 8 satellites?</td></tr>
 
      <tr><td rowspan="2">3</td><td rowspan="2">Tue - Nov, 03        </td><td>12:30 - 2:30</td><td>M3 Image principles</td><td colspan="5">"Properties of digital image, Data formats Types of Digital Images, Tri-stimuli model Color spaces, Image display (FCC,Origins and nature of digital image), components of image processing system, Visual perception, Basics of pixels, bands, and sampling"</td><td>satellite color composite</td><td colspan="2">sentinel 1 and landsat 8 data download from web data portal</td></tr>
      
      <tr></td><td>12:30 - 2:30</td><td>M4 Introduction to Python and Setting Up the Environment</td><td colspan="5">Introduction to python programming languge in general and python in geospatial in particular         Conda, Colab Notebooks, geemap, other Python tools for satellite data acquisition and data storage</td><td>data acquisition using python</td><td colspan="2">satellite color composite</td></tr>
      
      <tr><td>4</td><td>Tue - Nov, 10        </td><td>12:30 - 2:30</td><td>M5 Intro to Earth Engine platform</td><td colspan="5">"Big Data Platforms for Remote Sensing,Earth Engine Platform, EE Primitives,Earth Engine API"</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>
      
      <tr><td>5</td><td>Tue - Nov, 17        </td><td>12:30 - 2:30</td><td>M6 Image Interpretation.</td><td colspan="5">Quantitative Analysis of ERS data, Types of Pictoral Data Products, Image interpretation strategy: Levels of Interpretation Keys. Process of Image Interpretation, Interpretation of Aerial Photo, General procedure for photo interpretation</td><td>Forest fire interpretation</td><td colspan="2">&nbsp;</td></tr>
 
      <tr><td rowspan="2">6</td><td rowspan="2">Tue - Nov, 24        </td><td>12:30 - 2:30</td><td>M7 Image enhancement</td><td colspan="5">Gery level transform, histogram processing, arithmetic/logic operations, spatial filtering   Exploratory Image analysis Using Python</td><td>"Mapping flooding with histogram slicing</td><td colspan="2">&nbsp;</td></tr>
      
      <tr><td>12:30 - 2:30</td><td>M8 Image corrections (preprocessing)</td><td colspan="5">Image corrections through geometric / radiometric transforms</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>
 
     <tr><td>7</td><td>Tue - Dec, 01        </td><td>12:30 - 2:30</td><td>M9 Image Transformations</td><td colspan="5">Transformationss in frequency domain, Fourier transform, frequency domain filters and its applications, periodic noise removal, Principle component analysis. Python tools for image transformation</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>

     <tr><td>8</td><td>Tue - Dec, 08        </td><td>12:30 - 2:30</td><td>M10 Spectral indices</td><td colspan="5">Vegetation indices, Soil Indices, Water indices</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>
 
     <tr><td rowspan="2">9</td><td rowspan="2">Tue - Dec, 15        </td><td>12:30 - 2:30</td><td>M11 Unsupervised Classification</td><td colspan="5">K- Mean Clustering, ISODATA clustering, Hierarchical Clustering</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>
     
     <tr><td>12:30 - 2:30</td><td>M12 Supervised Classification</td><td colspan="5">Minimum Distance to Mean, Maximum Likelihood, Hypercube, Mahanolobis distance</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>
 
    <tr><td rowspan="3">10</td><td rowspan="3">Tue - Dec, 22        </td><td>12:30 - 2:30</td><td>M13 Soft Classification Techniques</td><td colpan="5">Hybrid classification, Knowledge Engineer, Fuzzy Classification, Object Oriented Classification</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>
    
    <tr><td>12:30 - 2:30</td><td>M14 Exploratory Data Analysis</td><td colspan="5">Classification and segmentation using Python</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>
    
    <tr><td>12:30 - 2:30</td><td>M15 Validation of Image Classification</td><td colspan="5">Kappa Accuracy, Overall Accuracy, Regression</td><td>&nbsp;</td><td colspan="2">&nbsp;</td></tr>
 
    <tr><td>11</td><td>Tue - Dec, 29 </td><td>12:30 - 2:30</td><td>Exam</td><td colspan="5">&nbsp;</td><td colspan="2">&nbsp;</td></tr>
      </tbody>
    </table>
  </div>
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}